<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :exp_month %><br>
    <%= f.select :exp_month, (1..12) %>
  </div>
  <div class="field">
    <%= f.label :exp_year %><br>
    <%= f.select :exp_year, (2015..2115) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
